doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/cake.generic.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		block css
	body
		header(style="position: fixed; z-index: 1").span2
			div.inner.cf
				h1.alt.span1.head
					img(alt="bichiLogo", src="/images/bug128.png").bug
					| LibreLEDs :: Bichitos Libres
				nav.span1.col
					ul.cf
						li
							a(href="/").alt
								| Inicio
						li
							a(href="/accionar").alt
								| Accionar
						li
							a(href="/colorear").alt
								| Colorear
						li
							a(href="/direccionar").alt
								| Direccionar
						li
							a(href="/parallax").alt
								| Parallax

		block content

		block scripts